In [20]:
import pandas as pd
df=pd.DataFrame(latlong1)
df.to_csv('latlong.csv')
import matplotlib.pyplot as plt
%matplotlib inline
plt.scatter(df.iloc[:,0],df.iloc[:,1])
#df.plot('lat','lng',kind='scatter')
#help(pd.DataFrame.plot)

NameError: name 'latlong1' is not defined

In [ ]:
from pymongo import MongoClient
client = MongoClient()
# Initiate Database
db = client['test_database']
# Initiate Table
tab = db['test_table']
## Bus Station API import

tempd=https://maps.googleapis.com/maps/api/geocode/json?address=bus_station&components=postal_code:94109&key=AIzaSyBk9ItNZRNnKxysKV5nM5cYhbGZkkqTnIs
import requests

def single_query_zip(zipc, payload):
    link='https://maps.googleapis.com/maps/api/geocode/json?address=bus_station+%d&key=%s' %(zipc,payload)
    print link
    response = requests.get(link)
    if response.status_code != 200:
        print 'WARNING', response.status_code
    else:
        return response.json()
latlong=[]
payload = {'api-key':'AIzaSyBk9ItNZRNnKxysKV5nM5cYhbGZkkqTnIs'}
for zipc in range(94102,94150):                                                                                                                    
    json1 = single_query(zipc, payload['api-key'])
    latlong.append([c['geometry']['location'] for c in json1['results']])
#    tab.insert(json1)  
latlong1 = [j for i in range(len(latlong)) for j in latlong[i]]
len(latlong1)
tab.count()
import requests
import numpy as np

def single_query_latlng(SN,WE, payload):
    link='https://maps.googleapis.com/maps/api/geocode/json?address=bus_station&bounds=%f,%f|%f,%f&key=%s' %(SN[0],WE[0],SN[1],WE[1],payload)
    print SN,WE
    response = requests.get(link)
    if response.status_code != 200:
        print 'WARNING', response.status_code
    else:
        return response.json()

payload = {'api-key':'AIzaSyBk9ItNZRNnKxysKV5nM5cYhbGZkkqTnIs'}
SW=[37.7339999999999,-122.527]
NE=[37.812,-122.3482]
SN1=np.linspace(SW[0],NE[0],100)
WE1=np.linspace(SW[1],NE[1],100)
latlong=[]
for i in range(90,len(SN1)-1):
    for j in range(90,len(WE1)-1):
        json1 = single_query([SN1[i],SN1[i+1]],[WE1[j],WE1[j+1]], payload['api-key'])
        latlong.append([c['geometry']['location'] for c in json1['results']])
        #tab.insert(json1)
latlong1 = [j for i in range(len(latlong)) for j in latlong[i]]
len(latlong1)

In [21]:
df.plot('lat','lng',kind='scatter')

NameError: name 'df' is not defined

In [31]:
df.duplicated().sum()

tab['results']


tab.find().count()
([i['geometry']['location'] for i in json1['results']])
SW=[37.70339999999999,-122.527]
NE=[37.812,-122.3482]


SN1=np.linspace(SW[0],NE[0],4)
WE1=np.linspace(SW[1],NE[1],4)
latlong=[]

json1
len(WE1)

1127

In [9]:
import shapefile

In [10]:
sf=shapefile.Reader('/Users/alizaf/Downloads/stclines_streets/stclines_streets')

In [18]:
t=sf.iterRecords()
t.gi_frame

In [42]:
import requests

def single_query(zipc, payload):
    link='https://maps.googleapis.com/maps/api/geocode/json?address=San+Francisco+&key=%s' %(payload)
    print link
    response = requests.get(link)
    if response.status_code != 200:
        print 'WARNING', response.status_code
    else:
        return response.json()
latlong=[]
payload = {'api-key':'AIzaSyBk9ItNZRNnKxysKV5nM5cYhbGZkkqTnIs'}
for zipc in range(94102,94103):                                                                                                                    
    json1 = single_query(zipc, payload['api-key'])
    latlong.append([c['geometry']['location'] for c in json1['results']])
#    tab.insert(json1)  
latlong1 = [j for i in range(len(latlong)) for j in latlong[i]]
latlong1

https://maps.googleapis.com/maps/api/geocode/json?address=intersections+San+Francisco&key=AIzaSyBk9ItNZRNnKxysKV5nM5cYhbGZkkqTnIs

In [33]:
df1=pd.read_csv('List_of_Streets_and_Intersections.csv')

In [34]:
df1.head()

,CNN,streetname,from_st,to_st,cardinal,addrange,limits,location,theOrder,LF_FADD,RT_FADD,LF_TADD,RT_TADD,FROM_CNN,TO_CNN
0,30731000,01ST ST,BUSH ST \ MARKET ST,NaN,NaN,NaN,BUSH ST \ MARKET ST intersection,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
1,100000,01ST ST,BUSH ST \ MARKET ST,STEVENSON ST,NaN,1 - 34,BUSH ST \ MARKET ST to STEVENSON ST (1 - 34),NaN,2,1,2,19,34,30731000,24666000
2,24666000,01ST ST,STEVENSON ST,NaN,NaN,NaN,STEVENSON ST intersection,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN
3,101000,01ST ST,STEVENSON ST,JESSIE ST,NaN,21 - 56,STEVENSON ST to JESSIE ST (21 - 56),NaN,4,21,36,47,56,24666000,24564000
4,24564000,01ST ST,JESSIE ST,NaN,NaN,NaN,JESSIE ST intersection,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df3 = pd.read_csv('Registered_Business_Map.csv')

In [45]:
df3.head()

,Location_ID,Business_Account_Number,Ownership_Name,DBA Name,Street_Address,City,State,Zip_Code,Business_Start_Date,Location Start Date,Mail_Address,Mail_City_State_Zip,Class Code,PBC Code,Business_Location
0,0000024-02-999,24,EASTMAN KODAK CO,EASTMAN KODAK CO,343 STATE ST,ROCHESTER,NY,14650,01/01/2003 12:00:00 AM,01/01/2003 12:00:00 AM,343 STATE STREET,ROCHESTER NY 14650-0904,08,5995,"343 STATE ST\nROCHESTER, NY 14650\n(43.1612564..."
1,0000028-02-001,28,FERRANDO LOUISE,3101 LAGUNA APTS,3101 LAGUNA ST,San Francisco,CA,94123,09/30/1993 12:00:00 AM,09/30/1993 12:00:00 AM,2799 CALIFORNIA ST,SAN FRANCISCO CA 94115-2513,07,7520,"3101 LAGUNA ST\nSan Francisco, CA 94123\n(37.7..."
2,0000052-01-001,52,IDEAL NOVAK CORP,IDEAL NOVAK CORP,8 MENDOSA AVE,San Francisco,CA,94116,10/01/1968 12:00:00 AM,10/01/1968 12:00:00 AM,8 MENDOSA AVE,SAN FRANCISCO CA 94116-1942,03,6511,"8 MENDOSA AVE\nSan Francisco, CA 94116\n(37.74..."
3,0000071-01-001,71,TOURNAHU GEORGE L,TOURNAHU ARMS,1842 JEFFERSON ST,San Francisco,CA,94123,10/01/1968 12:00:00 AM,10/01/1968 12:00:00 AM,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"1842 JEFFERSON ST\nSan Francisco, CA 94123\n(3..."
4,0000071-02-001,71,TOURNAHU GEORGE L,3301 BRODERICK APARTMENTS,3301 BRODERICK ST,San Francisco,CA,94123,10/01/1968 12:00:00 AM,05/01/1988 12:00:00 AM,4444 GEARY BLVD. 100,SAN FRANCISCO CA 94118-,07,0211,"3301 BRODERICK ST\nSan Francisco, CA 94123\n(3..."

In [250]:
df4 = df3['Business_Location']
# latlong = [df4[i] for i in range(df4.shape[0])]
# [latlong[i] for i in range(len(latlong))]
# s = df4.str.split('\n')
s = df4.reset_index()
s=s['Business_Location'].str.split().reset_index()
s1=s['Business_Location'].astype(list)

In [328]:
s = df3['Business_Location'].str.split('\n').apply(pd.Series, 1)

In [353]:
s1 = s[2].str.split(',').apply(pd.Series, 1)

In [354]:
s1[[0]]=s1[[0]].apply(lambda x: x.str[1:])
s1[[1]]=s1[[1]].apply(lambda x: x.str[:-2])

In [395]:
s1=s1.drop_duplicates()
s1.to_csv('test1.csv')

In [396]:
dft = pd.read_csv('test1.csv')
dft=dft.drop(0,axis=0)

In [397]:
dft1=dft[[1,2]].drop_duplicates()

In [398]:
dft1.shape

(72653, 2)

In [400]:
import random

In [2]:
import os

In [6]:
os.stat('photodb1/').st_nlink

22814